<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>Main Page</h1>

    <button onclick="location.href='/board/selectCode'">특정 게시판 내용 보기</button>
    <button onclick="location.href='/board/list'">게시판 전체 목록 보기</button>

    <button onclick="location.href='/board/querymethod'">쿼리 메소드 테스트</button>

    <button onclick="location.href='/board/regist'">게시판 등록하기</button>
    <button onclick="location.href='/board/selectCode'">게시판 수정하기</button>
    <button onclick="location.href='/board/delete'">게시판 삭제하기</button>


    <button onclick="location.href='/board/'">총 게시물 수 보기(그룹함수)</button>
</body>
</html>