<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<!-- 게시글-->
<h2>게시글</h2>
<table>
    <tr>
        <td> 제목 : <span th:text="${ board.title }"></span></td>
    </tr>
    <tr>

        <td>작성자 | <span th:text="${ board.userId }"></span></td>
        <td>작성일 | <span th:text="${ board.postedDate }"></span></td>
    </tr>
    <tr>
        <td>내용</td>
    </tr>
    <tr>
        <td><textarea th:text="${ board.boardContent }" readonly class="detailsBox"></textarea></td>
    </tr>
</table>
<input type="hidden" id="boardCode" th:value="${board.boardCode}">
<!-- 댓글 내용-->
<div class="card">
    <!-- 댓글 헤더-->
    <div class="card-header">
        <div>댓글작성</div>
    </div>

    <!-- 댓글 내용 바디 -->
    <div>
        <!-- 댓글 정보 여기에 -->
        <textarea id="commentContent" rows="1"></textarea>
        <button id="insertComment" type="button" onclick="submitComment()">등록</button>
    </div>
</div>
<br/>
<div>
    <div>댓글(<span>0</span>)</div>
    <div th:each="comment : ${commentList}">
        No:<span th:text="${comment.commentCode}"></span>
        <span th:text="${comment.getCommentContent()}"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span> 작성일시 :</span><span
            th:text="${comment.getPostedDate()}"></span>
        <button>수정</button>
        <span> | </span>
        <button id="insertComment1" type="button" onclick="insertComment1()">삭제</button>
        <input id="commentCode" type="hidden" name="commentCode" th:value="${ comment.getBoardCode() }">
    </div>
</div>
<button onclick="location.href='/main'">돌아가기</button>
<button type="submit" onclick="modifyButton()">수정하기</button>
<button type="submit" onclick="deleteButton()">삭제하기</button>
<script>
    /* 게시글 수정 */
     function modifyButton (){
        const boardCode = document.getElementById("boardCode").value;
        location.href = "/board/modify/" + boardCode;
    };
    /* 게시글 삭제 */
    function deleteButton (){

        const boardCode = '[[${board.boardCode}]]';
        if(!confirm('정말로 게시글을 삭제하시겠습니까?')) {
            return false;
        }

        const formHtml = `
                    <form id="deleteForm" action="/board/delete" method="post">
                        <input type="hidden" id="boardCode" name="boardCode" value="${boardCode}"/>
                    </form>
                `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById('deleteForm').submit();
    };
    const boardCode = document.getElementById("boardCode").value;

    /* 댓글 등록 */
    const submitComment = async () => {
        const commentContent = document.getElementById("commentContent").value; // 댓글 내용을 가져옵니다.

        console.log(boardCode);

        console.log(commentContent);

        try {
            const response = await fetch('/board/comment', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(
                    {
                        boardCode: boardCode,
                        commentContent: commentContent
                    }
                )
            })
            if (response.ok) {
                console.log('댓글이 작성되었습니다.');
                window.location.href = '/board/' + boardCode
            } else {
                console.error('댓글 작성 실패');
                // 댓글 작성 실패 처리할 로직 추가
            }
        }catch (error) {
            console.error('오류 발생:', error);
            // 오류 발생 시 처리할 로직 추가
        }
    };

     /*댓글 삭제*/
    function insertComment1 (){

        const commentCode = '[[${comment.commentCode}]]';
        if(!confirm('정말로 댓글을 삭제하시겠습니까?')) {
            return false;
        }

        const formHtml = `
                    <form id="deleteForm" action="/board/commentDelete" method="post">
                        <input type="hidden" id="commentCode" name="commentCode" value="${commentCode}"/>
                    </form>
                `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        document.getElementById('deleteForm').submit();
    };

</script>
</body>
</html>