<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>board list</title>
</head>
<body>
  <h1>Board List</h1>
  <table class="boardListBox" id="boardListTable">
      <th:p><button type="button" onclick="location.href='/board/regist'">글등록</button></th:p>
      <th:p><button type="button" onclick="location.href='/main'">목록으로</button></th:p>
      <br>
      <tr class="table-th">
          <th>No</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
      </tr>
      <tr th:each="board : ${ boardList }">
          <td th:text="${ board.boardCode }"></td>
          <td th:text="${ board.title }"></td>
          <td th:text="${ board.userId }"></td>
          <td th:text="${ board.postedDate }"></td>
          <td th:text="${ board.viewCount }"></td>
      </tr>
  </table>
  <div id="paging">
      <!-- 맨 앞 페이지로 이동 -->
      <button th:onclick="'location.href=\'/board/list?page='+${paging.startPage}+'\''">
          ⏮
      </button>

      <!-- 이전 페이지로 이동 -->
      <button th:onclick="'location.href=\'/board/list?page='+${paging.currentPage - 1}+'\''"
              th:disabled="${boardList.first}">
          ◀
      </button>
      <!-- 숫자 버튼 -->
      <th:block th:each="page : ${#numbers.sequence(paging.startPage,paging.endPage)}">
          <button th:onclick="'location.href=\'/board/list?page=' + ${page} + '\''"
                  th:text="${page}"
                  th:disabled="${ paging.currentPage eq page }">

          </button>
      </th:block>
      <!-- 다음 페이지로 이동-->
      <button th:onclick="'location.href=\'/board/list?page='+${paging.currentPage + 1}+'\''"
              th:disabled="${boardList.last}">
          ▶
      </button>

      <!-- 맨뒤 페이지로 이동-->
      <button th:onclick="'location.href=\'/board/list?page='+${paging.endPage}+'\''">
          ⏭
      </button>

  </div>
<script>
    if(document.querySelectorAll("#boardListTable td")) {

        /* boardCode 파싱 */
        const $tds = document.querySelectorAll("#boardListTable td");
        for (let i = 0; i < $tds.length; i++) {

            $tds[i].onclick = function () {
                const boardCode = this.parentNode.children[0].innerText;
                location.href = "/board/" + boardCode;
            }
        }
    }
</script>
</body>
</html>